--
-- PostgreSQL database dump
--

-- Dumped from database version 14.2
-- Dumped by pg_dump version 14.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: author_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.author_group (
    paper_id character varying(10) NOT NULL,
    author_id character varying(10) NOT NULL,
    author_rank integer NOT NULL
);


ALTER TABLE public.author_group OWNER TO postgres;

--
-- Name: author_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.author_info (
    author_id character varying(10) NOT NULL,
    first_name character varying(50) NOT NULL,
    middle_name character varying(50),
    last_name character varying(50) NOT NULL
);


ALTER TABLE public.author_info OWNER TO postgres;

--
-- Name: reference_table; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reference_table (
    paper_id character varying(10) NOT NULL,
    paper_referenced character varying(10) NOT NULL,
    CONSTRAINT reference_table_check CHECK (((paper_referenced)::text <> (paper_id)::text))
);


ALTER TABLE public.reference_table OWNER TO postgres;

--
-- Name: research_paper; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.research_paper (
    paper_id character varying(10) NOT NULL,
    paper_title character varying(500) NOT NULL,
    abstract text NOT NULL,
    venue character varying(500) NOT NULL,
    year character varying(100) NOT NULL
);


ALTER TABLE public.research_paper OWNER TO postgres;

--
-- Data for Name: author_group; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: author_info; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reference_table; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: research_paper; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: author_group author_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.author_group
    ADD CONSTRAINT author_group_pkey PRIMARY KEY (paper_id, author_id);


--
-- Name: author_info author_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.author_info
    ADD CONSTRAINT author_info_pkey PRIMARY KEY (author_id);


--
-- Name: reference_table reference_table_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reference_table
    ADD CONSTRAINT reference_table_pkey PRIMARY KEY (paper_id, paper_referenced);


--
-- Name: research_paper research_paper_paper_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.research_paper
    ADD CONSTRAINT research_paper_paper_id_key UNIQUE (paper_id);


--
-- Name: research_paper research_paper_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.research_paper
    ADD CONSTRAINT research_paper_pkey PRIMARY KEY (paper_id, paper_title, venue);


--
-- Name: author_group author_group_paper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.author_group
    ADD CONSTRAINT author_group_paper_id_fkey FOREIGN KEY (paper_id) REFERENCES public.research_paper(paper_id);


--
-- Name: reference_table reference_table_paper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reference_table
    ADD CONSTRAINT reference_table_paper_id_fkey FOREIGN KEY (paper_id) REFERENCES public.research_paper(paper_id);


--
-- PostgreSQL database dump complete
--

